@{
	ViewBag.Title = "YeniRoom";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
	<div>
		<label>@Resources.Content.KategoriAd</label>
		<input type="text" class="form-control" name="KATEGORIAD" />
	</div>
	

	<div>
		<button class="btn btn-info">@Resources.Content.Ekle</button>
	</div>


</form>

